src-tauri/target/
src-tauri/gen/android/app/build/
src-tauri/gen/android/.gradle/
src-tauri/gen/android/build/
src-tauri/gen/android/buildSrc/build/
src-tauri/gen/android/app/.cxx/
node_modules/
node_modules/
src-tauri/Assets.car
